.navBarContainer {
    position: fixed;
    top: 0;
    composes: fullWidth from 'sharedStyles/styles.css';
    z-index: 1;
}

.listViewContainer {
    margin-top: 110px;
    margin-bottom: 100px;
}

.footer {
    background-color: #5f9ea0;
    height: 80px;
    composes: fullWidth from 'sharedStyles/styles.css';
    position: fixed;
    bottom: 0;
}