.cardHolder {
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.cardHolder:hover {
    /*box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),0 24px 24px 0 rgba(0,0,0,0.19);*/
    background-color: grey;
    color: white;
    -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
    transition: background-color 0.5s, color 0.5s;
}