.cardHolder {
    border: 1px solid white;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardHolder:hover {
    background-color: #cdc5bf;
    color: white;
    -webkit-transition: background-color 0.5s, color 0.5s; /* Safari */
    transition: background-color 0.5s, color 0.5s;
}