.contactCard {
    width: 300px;
}

.userIcon {
    font-size: 40px;
    composes: centeredContainer from 'sharedStyles/styles.css';
}

.highRisk {
    color: red;
}

.title{
    font-size: 40px;
    display: flex;
    justify-content: center;
}