.contactCard {
    width: 300px;
    /*color: #609f72;*/
}

.userIcon {
    font-size: 40px;
    composes: centeredContainer from 'sharedStyles/styles.css';
}

.highRisk {
    color: #FA8072;
}

.title{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.amount {
    font-size: 20px;
    font-weight: lighter;
    composes: centeredContainer from 'sharedStyles/styles.css';
}